<!-- Page Content -->
<header class="py-5 mb-5">

    <div class="container">
        <div class="row mx-auto my-auto justify-content-center text-center">
            <form class="d-flex w-100 my-2" role="search">
                <input class="form-control" type="text" placeholder="Arroz, Coelho Diniz..." aria-label="Campo para pesquisar produto ou mercado">
                <select class="btn btn-primary dropdown-toggle me-2">
                    <option value="1" selected>Produto</option>
                    <option value="2">Mercado</option>
                </select>
                <button class="btn btn-outline-success" type="submit" [disabled]="!produtosValorMedio">Pesquisar</button>
            </form>

            <carousel-produto *ngIf="!!produtosValorMedio" [produtos]="produtosValorMedio"></carousel-produto>

            <div class="py-5" *ngIf="!produtosValorMedio">
                <h1>
                    Parece que não há nenhum produto registrado nessa cidade! :(
                </h1>
                <br />
                <h3>
                    Seja você o primeiro e adicione um <a href="/produtos/listar-todos">produto aqui</a>! :D
                </h3>
            </div>

        </div>
    </div>

</header>

<div class="container main-container">
    <div class="row text-center">

        <app-lista-produto [produtos]="produtos"></app-lista-produto>

    </div>
</div>
<!-- Fim Content -->