<div class="container main-container">

    <h3>Novo Produto </h3>

    <hr>
    <div class="row">
        <div class="col-md-10">
            <form enctype="multipart/form-data" (ngSubmit)="adicionarProduto()" [formGroup]="produtoForm">

                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="control-label">Mercado</label>
                    <select class="form-control" id="mercadoId" formControlName="mercadoId" [ngClass]="{'is-invalid': displayMessage['mercadoId'] }">
                        <option selected hidden value="">Selecione um Mercado (requerido)</option>
                        <option *ngFor="let mercado of mercados" value="{{ mercado.id }}">{{ mercado.nome }} - {{ mercado.endereco }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage['mercadoId']">
                        <p [innerHTML]="displayMessage['mercadoId']"></p>
                    </span>
                </div>

                <div class="form-group">
                    <label class="control-label">Produto</label>
                    <select class="form-control" id="produtoId" formControlName="produtoId"
                            #produtoId (change)="produtoUrl(produtoId.value)"
                            [ngClass]="{'is-invalid': displayMessage['produtoId'] }">
                        <option selected hidden value="">Selecione um Produto (requerido)</option>
                        <option *ngFor="let produto of produtos" value="{{ produto.id }}">{{ produto.nome }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage['produtoId']">
                        <p [innerHTML]="displayMessage['produtoId']"></p>
                    </span>
                </div>

                <div class="form-group">
                    <label class="control-label">Imagem do Produto</label>

                    <div class="custom-file">
                        <img [src]="imageProduto" title="source: imgur.com"
                             style="height: 350px; width:300px;" />
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="control-label">Valor</label>
                    <div>
                        <input class="form-control" id="valor" type="text" placeholder="Valor (requerido)" formControlName="valor" [ngClass]="{'is-invalid': displayMessage['valor'] }" />
                        <span class="text-danger" *ngIf="displayMessage['valor']">
                            <p [innerHTML]="displayMessage['valor']"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" id="cadastroProduto" [disabled]="!produtoForm.valid" value="Cadastrar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" href="/produtos/listar-todos">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>