
<div class="container bg-ligth" style="height: 45vh; width: 25vw; background-color: whitesmoke; border-radius: 15px;">
    <form [formGroup]="crudForm">
        <div style="background-color: gray; height: 8vh; border-radius: 15px;"></div>
        <h4 class="pb-5 text-center">Mercúrio</h4>

        <div class="col-md-12">
            <h4>Email: </h4>
            <input name="email" id="email" formControlName="email" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu E-mail" />
        </div>

        <div class="col-md-12">
            <h4>Senha: </h4>
            <input name="senha" id="senha" formControlName="senha" type="password" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira sua senha" />
        </div>

        <div class="mt-2" *ngIf="loginFail" style="background-color: rgba(247, 63, 63, 0.541); border-radius: 5px;">
            <label>Email ou Senha Incorretos!</label>
        </div>
        
        <div class="container col-md-12">
            <button class="btn btn-primary" style="margin-top: 30px;" routerLink="/criar-conta">Crie uma Conta Nova</button>
            <button class="btn btn-success" style="margin-top: 30px; float: right;" type="submit" (click)="logar()">Entrar</button>            
        </div>
    </form>
</div>