<div class="container main-container">

    <h1>Lista de Mercados</h1>
    <hr>

    <div *ngFor="let mercado of mercados" class="card mb-3 w-auto">
        <div class="row g-0" style="cursor: pointer;" [routerLink]="['/produtos/listar-por-mercado/', mercado.id]">
            <div class="col-md-4">
                <img src="{{ mercado.imagem }}" 
                     class="img-fluid rounded-start"
                     style="height: 185px; width: 280px;"
                     alt="{{ mercado.nome }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ mercado.nome }}</h5>
                    <div class="card-text">
                        <p>{{ mercado.estado }}</p>
                        <p>{{ mercado.cidade }}</p>
                        <p>{{ mercado.endereco }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>