<div class="container main-container">

    <h1>Lista de Carrinhos</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/carrinhos/adicionar-novo']">Novo Carrinho</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>

                </th>
                <th>
                    Nome
                </th>
                <th>
                    Fornecedor
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Ativo?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let carrinho of carrinhos">
                <td>
                    <img src="{{ imagens }}{{ carrinho.imagem }}" style="width: 70px; height: 100px">
                </td>
                <td>
                    {{ carrinho.nome }}
                </td>
                <td>
                    {{ carrinho.nomeFornecedor }}
                </td>
                <td>
                    {{ carrinho.valor }}
                </td>
                <td>
                    <input [checked]="carrinho.ativo" class="check-box" disabled="disabled" type="checkbox">
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/carrinhos/detalhes',carrinho.id]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-info" [routerLink]="['/carrinhos/editar',carrinho.id]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/carrinhos/excluir',carrinho.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>