<div class="container main-container">

    <div *ngIf="!carrinho">
        <img class="w-100" src="https://i.imgur.com/qinyrpn.jpg" title="source: imgur.com" />
    </div>

    <div *ngIf="carrinho">
        <p>
            <a class="btn btn-outline-danger">Excluir Carrinho</a>
        </p>
        <div *ngFor="let produto of carrinho.itens" class="card w-auto">
            <div class="row g-0 w-auto">
                <div class="col-md-4">
                    <img src="{{ produto.imagem }}" class="mg-fluid img-thumbnail" style="max-width: 110px !important;" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">{{ produto.valor | currency: 'R$' }}</p>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <button class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

        <hr />
        <div class="text-center">
            <p class="fs-1">Melhor mercado foi: {{ carrinho.mercado }}</p>
            <p class="fs-3">Total {{ carrinho.total | currency: 'R$' }}</p>
        </div>
    </div>

</div>