<div class="container main-container">

    <h3>Novo Reporte </h3>

    <hr>
    <div class="row">
        <div class="col-md-10">
            <form enctype="multipart/form-data" (ngSubmit)="adicionarReporte()" [formGroup]="reporteForm">

                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group my-3">
                    <label class="control-label">Assunto</label>
                    <div>
                        <select class="form-select w-100" id="assunto" formControlName="assunto"
                            [ngClass]="{'is-invalid': displayMessage['assunto'] }" aria-label="Assunto">
                            <option value="" hidden selected>Selecione uma opção</option>
                            <option>Está faltando o nome de um Supermercado/Mercado</option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage['assunto']">
                            <p [innerHTML]="displayMessage['assunto']"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group my-3">
                    <label class="control-label">Descrição</label>
                    <div>
                        <textarea cols="40" rows="5" maxlength="1000" class="form-control" id="descricao"
                            placeholder="Descrição (requerido)" formControlName="descricao"
                            [ngClass]="{'is-invalid': displayMessage['descricao'] }">
                        </textarea>
                        <span class="text-danger" *ngIf="displayMessage['descricao']">
                            <p [innerHTML]="displayMessage['descricao']"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group my-3 d-flex justify-content-between">
                    <input type="submit" id="cadastroReporte" [disabled]="!reporteForm.valid" value="Cadastrar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-danger" href="/reportes/listar-todos">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>