
<div class="card-body container bg-ligth" style="width: 35vw; background-color: whitesmoke; border-radius: 15px;">
    <div class="row">
    <form [formGroup]="crudForm">
        <h4 class="pb-5 text-center">Crie sua Nova Conta</h4>

        <div class="col-md-12">
        <h4>Nome: </h4>
            <input name="nome" id="nome" formControlName="nome" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu Nome" />
        </div>

        <div class="col-md-12">
            <h4 class="required">Email: </h4>
            <input name="email" id="email" formControlName="email" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu E-mail" required />
        </div>

        <div class="col-md-12">
            <h4>Data de Nascimento: </h4>
            <input name="dtNascimento" id="dtNascimento" formControlName="dtNascimento" type="date" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" />
        </div>

        <div class="col-md-12">
            <h4 class="required">Senha: </h4>
            <input name="senha" id="senha" formControlName="senha" type="password" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira sua senha" required />
        </div>

        <hr>
        <h4 class="pb-5 pt-5 text-center">Endereço</h4>
        <div class="col-md-12">
            <h4>Cidade: </h4>
            <input name="cidade" id="cidade" formControlName="cidade" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira sua Cidade" />
        </div>

        <div class="col-md-12">
        <h4>Bairro: </h4>
            <input name="bairro" id="bairro" formControlName="bairro" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu Bairro" />
        </div>

        <div class="col-md-12">
        <h4>Logradouro: </h4>
            <input name="logradouro" id="logradouro" formControlName="logradouro" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu Logradouro" />
        </div>
        
        <div class="col-md-12">
        <h4>Rua: </h4>
            <input name="rua" id="rua" formControlName="rua" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira sua Rua" />
        </div>

        <div class="col-md-12">
            <h4>Número: </h4>
            <input name="numero" id="numero" formControlName="numero" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu Número" />
        </div>

        <div class="col-md-12">
            <h4>CEP:</h4>
            <input name="cep" id="cep" formControlName="cep" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu CEP" />
        </div>

        <div class="col-md-12">
            <h4>Complemento: </h4>
            <input name="complemento" id="complemento" formControlName="complemento" class="form-control"
                style="border: solid 1px rgba(43, 42, 42, 0.582)" placeholder="Insira seu Complemento" />
        </div>
        
        <div class="container">
            <button class="btn btn-danger" style="margin-top: 30px;" routerLink="/login">Voltar</button>
            <button class="btn btn-success" style="margin-top: 30px; float: right;" (click)="criarConta()" type="submit">Criar Conta</button>
        </div>
    </form>
</div>
</div>