<div class="container main-container">

    <h1>Lista de Reportes</h1>
    <hr>

    <p>
        <a class="btn btn-outline-success" [routerLink]="['/reportes/adicionar-novo']">Novo Reporte</a>
    </p>

    <div *ngFor="let reporte of reportes" class="card text-center mt-3">
        <div class="card-header card border-danger">
            Reporte #{{reporte.id}}
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title">{{reporte.assunto}}</h5>
          <p class="card-text">{{reporte.descricao}}</p>
          <p class="card-text"><small class="text-muted">{{reporte.dataCadastro}}</small></p>
        </div>

        <div [ngClass]="['card-footer card', statusReporte(reporte.status)]">
            {{reporte.status}}
        </div>
        <div *ngIf="reporte.resposta" class="card-body bg-light">
            <p class="card-text">{{reporte.resposta}}</p>
        </div>
    </div>

</div>