<div *ngFor="let produto of produtos" class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100" style="width: 18rem; background-color: #337028;">
        <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/alface_crespa_verde11-6cdc6c45a50159039e15220193868199-1024-1024.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>