<!-- <style>
    .active {
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 15px;
    }
</style> -->
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="../../../assets/icon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Mercurio
            </a>
            
            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed"> 
                
                <app-menu-login></app-menu-login>

                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    
                    <app-select-estado (estadoSelecionado)="carregarCidades($event)"></app-select-estado>
                    
                    <app-select-cidade [estadoId]="estadoSelecionado"
                                       (cidadeSelecionado)="salvarCidade($event)">
                    </app-select-cidade>

                    <li class="nav-item d-flex mx-1 flex-shrink-1">
                        <ul class="navbar-nav">
                            
                            <li class="nav-item">
                                <a [ngClass]="['nav-link', isActive('mercados') ]" aria-current="Mercado" href="/mercados/listar-todos">Mercado</a>
                            </li>
                            <li class="nav-item">
                                <a [ngClass]="['nav-link', isActive('produtos') ]" aria-current="Produto" href="/produtos/listar-todos">Produto</a>
                            </li>

                        </ul>
                        <a class="nav-link text-white btn btn-success mx-2" [routerLink]="['/carrinho']">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <a class="nav-link text-white btn btn-danger mx-2" [routerLink]="['/reportes/listar-todos']">Reportar</a>
                    </li>
                </ul>

            </div>

        </div>
        
    </nav>
</header>